<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ue0ba1ya1sh3i | Error</title>
    <link rel="stylesheet" href="../files/style.css">
    <link rel="shortcut icon" href="../files/icon.png" type="image/x-icon">
    <style>
        main {
            display: flex;
            justify-content: center;
        }

        div.message {
            animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
            top: 40%;
            width: 300px;
            border-radius: 10px;
            position: fixed;
            background-color: #363636;
            margin: 10px;
            padding: 10px;
            border: 2px solid rgb(104, 104, 104);
        }

        p.title {
            font-size: 20px;
            color: white;
        }

        p.subTitle {
            color: white;
            font-size: 15px;
            padding: 0 0 5px 0;
            margin: 5px 0 10px 0;
        }
    </style>
</head>

<body>
    <%- include('main/header') %>

    <main>
        <div class="message" onclick="history.back();">
            <p class="title">Error: <%= code %></p>
            <p class="subTitle"><%= message %></p>
        </div>
    </main>

    <footer>
        <%- include('main/clock') %>
    </footer>
    
    <script src="/files/script.js"></script>
</body>
</html>