<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ue0ba1ya1sh3i | Error</title>
    <link rel="stylesheet" href="../files/style.css">
    <link rel="shortcut icon" href="../files/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/files/widget.css">
</head>

<body>
    <%- include('main/header') %>

    <main>
        <div class="widget"><a onclick="history.back()"><p class="widgetTitle">An error has occurred.(<%= code %>)</p><p class="widgetSubTitle"><%= message %> Please try again in a few seconds.</p></a></div>
    </main>

    <footer>
        <%- include('main/clock') %>
    </footer>
    
    <script src="/files/script.js"></script>
</body>
</html>