<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ue0ba1ya1sh3i</title>
    <link rel="stylesheet" href="../files/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="../files/icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <%- css %>
</head>
<body>
    <!--ID-->
    <p id="id" style="display: none;"><%= id %></p>

    <!--背景の動画の自動再生-->
    <div class="backgroundVideo">
        <video autoplay loop muted playsinline>
            <source src="../files/background.mp4" type="video/mp4">
        </video>
    </div>

    <header>
        <div class="title" id="header-title">
            <p>ue0ba1ya1sh3i</p>

            <!--ハンバーガーメニューのボタン-->
            <input style="display: none;" onclick="hamburger(hamburgerButton.checked);" type="checkbox" id="header-check">
            <label for="header-check"><span></span></label>
        </div>

        <div id="header-link">
            <a href="./">Home</a>
            <a href="page/myApp">MyApp</a>
            <a href="page/settings">Settings</a>
            <a href="page/blog">Blog</a>
        </div>
    </header>

    <!--ダイアログボックスの実装-->
    <div id="dialog">
        <div class="dialog-bottom">
            <p id="dialog-title">ここにタイトルが入る</p>
            <div onclick="resetDialog()" id="closeButton">✕</div>
        </div>
        <p id="dialog-message">ここにメッセージが入る</p>
        <div id="dialog-content">
            <!--ここに要素が入る-->
        </div>
    </div>

    <main>
        <div class="main">
            <%- html %>
        </div>
    </main>

    <footer>
        <!--時計の実装-->
        <div class="clock">
            <p id="clock">読み込み中</p>
            <p id="calendar">読み込み中</p>
        </div>
    </footer>

    <script src="../socket.io/socket.io.js"></script>
    
    <%- js %>
    <script src="../files/script.js"></script>
</body>
</html>