<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ue0ba1ya1sh3i | <%= id %></title>
    <link rel="stylesheet" href="../files/style.css">
    <link rel="shortcut icon" href="../files/icon.png" type="image/x-icon">
</head>

<body>
    <%- include('main/header') %>
    
    <%- html %>

    <footer>
        <%- include('main/clock') %>
    </footer>
    
    <script src="../files/script.js"></script>
</body>
</html>