<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ue0ba1ya1sh3i | admin</title>
    <link rel="stylesheet" href="../files/style.css">
    <link rel="shortcut icon" href="../files/icon.png" type="image/x-icon">
    <style>
        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        div.widget {
            animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
            width: 300px;
            margin: 10px;
            padding: 10px;
            background-color: #363636;
            border: 2px solid rgb(104, 104, 104);
            border-radius: 10px;
        }

        p.widgetTitle {
            padding: 0 0 10px 0;
            font-size: 40px;
            text-align: center;
            border-bottom: 3px solid #686868;
            color: white;
            font-size: 20px;
        }

        div.box p {
            color: white;
            font-size: 20px;
            margin: 0 0 5px 0;
        }

        div.box {
            margin: 10px;
        }

        div.box input, button {
            background-color: #686868;
            color: white;
            padding: 5px;
            margin: 0 0 0 10px;
        }

        div.box input {
            width: 190px;
        }
    </style>
</head>

<body>
    <%- include('../main/header') %>

    <main>
        <div class="widget">
            <p class="widgetTitle" style="color: white;">webPassword</p>
            <div class="box">
                <p>- adminPass: <%= adminPass %></p>
                <input type="text" id="adminPass">
            </div>

            <div class="box">
                <p>- testPass: <%= testPass %></p>
                <input type="text" id="testPass">
            </div>

            <div class="box">
                <p>- change</p>
                <button onclick="changePass()">changePassword</button>
            </div>
        </div>

        <div class="widget">
            <p class="widgetTitle">yourInfo</p>
            <div class="result">
                <div class="box">
                    <p id="browser">Loading...</p>
                </div>

                <div class="box">
                    <p id="place">Loading...</p>
                </div>

                <div class="box">
                    <p id="location">Loading...</p>
                </div>

                <div class="box">
                    <p id="timeZone">Loading...</p>
                </div>

                <div class="box">
                    <p id="ip">Loading...</p>
                </div>
            </div>
        </div>

        <div class="widget">
            <p class="widgetTitle">Tools</p>
            <div class="result">
                <div class="box">
                    <p>- sendLINE</p>
                    <input type="text" id="messageLINE">
                    <button onclick="sendLINE(document.getElementById('messageLINE').value)">send</button>
                </div>

                <div class="box">
                    <p>- serverTerminal</p>
                    <input type="text" id="terminalCode">
                    <button onclick="terminal(document.getElementById('terminalCode').value);">enter</button>
                </div>
            </div>
        </div>

        <div class="widget">
            <p class="widgetTitle">template</p>
            <div class="result">
                <div class="box">
                    <p>- This widget is template.</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../main/clock') %>
    </footer>

    <script>
        //node.js
        function sendedCode() {};

        //getInfo
        fetch("https://ipinfo.io?callback")
        .then((response) => response.json())
        .then((ipInfo) => {
            document.getElementById("place").textContent = "- place: " + ipInfo.country + "-" + ipInfo.city;
            document.getElementById("location").textContent = "- location: " + ipInfo.loc;
            document.getElementById("timeZone").textContent = "- timeZone: " + ipInfo.timezone;
            document.getElementById("ip").textContent = "- ip: " + ipInfo.ip;

            var info = [];
            info.push(ipInfo.country,ipInfo.city,ipInfo.loc,ipInfo.timezone,ipInfo.ip);

            //sendDeta
            fetch('/info', {
                //settings
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    title: "frontInfo",
                    info: info
                })
            })

            .then(response => response.text())
            .then(data => {
                //changedPass
                if(data === "changed Pass") {
                    window.location.href = "/admin/" + adminpass;
                } else {
                    window.alert("Error: " + data);
                };
            })

            .catch((error) => {
                //error
                window.alert("Error: " + error);
            });
        });

        var userAgent = window.navigator.userAgent.toLowerCase();
        if(userAgent.indexOf('msie') != -1 || userAgent.indexOf('trident') != -1) {
                document.getElementById("browser").textContent = "- browser: " + "IE";
        } else if(userAgent.indexOf('edge') != -1) {
            document.getElementById("browser").textContent = "- browser: " + "Edge";
        } else if(userAgent.indexOf('chrome') != -1) {
            document.getElementById("browser").textContent = "- browser: " + "Chrome";
        } else if(userAgent.indexOf('safari') != -1) {
            document.getElementById("browser").textContent = "- browser: " + "Safari";
        } else if(userAgent.indexOf('firefox') != -1) {
            document.getElementById("browser").textContent = "- browser: " + "FireFox";
        } else if(userAgent.indexOf('opera') != -1) {
            document.getElementById("browser").textContent = "- browser: " + "Opera";
        } else {
            document.getElementById("browser").textContent = "- browser: " + "otherBrowser";
        };

        //changePass
        function changePass() {
            //getDeta
            var adminpass = document.getElementById("adminPass").value;
            var testPass = document.getElementById("testPass").value;

            //sendDeta
            fetch('/changePass/' + changePassword, {
                //settings
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    adminPass: adminpass,
                    testPass: testPass
                })
            })

            .then(response => response.text())
            .then(data => {
                //changedPass
                if(data === "changed Pass") {
                    window.location.href = "/admin/" + adminpass;
                } else {
                    window.alert("Error: " + data);
                };
            })

            .catch((error) => {
                //error
                window.alert("Error: " + error);
            });
        };

        //sendLINE
        function sendLINE(message) {
            var url = 'https://script.google.com/macros/s/AKfycbyS1lskBcYsbKSflUEvU79LIIVrhSwzmo2Vx3heuWtSgT8vjdrtmPR8MceLxDmIkmsy7w/exec';
            var data = {
                type: 'text',
                text: message
            };

            fetch(url, {
                method: 'POST',
                mode: 'no-cors',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            //reset
            document.getElementById("messageLINE").value = "";

            window.alert("success");
        };

        //terminal
        function terminal(code) {
            //sendDeta
            fetch('/terminal/' + changePassword, {
                //settings
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    code: code,
                })
            })

            .then(response => response.text())
            .then(data => {
                //changedPass
                if(data === "success") {
                    window.alert("success.");
                } else {
                    window.alert("Error: " + data);
                };
            })

            .catch((error) => {
                //error
                window.alert("Error: " + error);
            });

            //reset
            document.getElementById("terminalCode").value = "";
        };

        //After loading everything
        window.onload = function() {
            function confilmChangePassword() {
                changePassword = viewCookie("changePass");
                if(changePassword === undefined) {
                    changePassword = window.prompt("A change password is required to gain admin privileges on this page, please enter it below.");

                    //sendDeta
                    fetch('/confilmChangePass', {
                        //settings
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            password: changePassword
                        })
                    })

                    .then(response => response.text())
                    .then(data => {
                        if(data === "no.") {
                            window.alert("your password is incorrect.");
                            confilmChangePassword();
                        } else {
                            document.cookie = "changePass=" + changePassword;
                            window.alert("success.");
                        };
                    })

                    .catch((error) => {
                        //error
                        window.alert("Error: " + error);
                        confilmChangePassword();
                    });
                };
            };
            confilmChangePassword();
        };
    </script>
    <script src="../files/script.js"></script>
</body>
</html>