<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ue0ba1ya1sh3i | admin</title>
    <link rel="stylesheet" href="../files/style.css">
    <link rel="shortcut icon" href="../files/icon.png" type="image/x-icon">
    <style>
        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        div.widget {
            width: 350px;
            height: 300px;
            background-color: #363636;
            margin: 25px 0 25px 0;
            border-radius: 10px;
        }

        p.widgetTitle {
            padding: 5px;
            font-size: 40px;
            text-align: center;
            border-bottom: 3px solid #686868;
            color: white;
            font-size: 20px;
        }

        div.box p {
            color: white;
            font-size: 20px;
            margin: 0 0 5px 0;
        }

        div.box {
            margin: 10px 0 0 10px;
        }

        div.box input, button {
            background-color: #686868;
            color: white;
            padding: 5px;
            margin: 0 0 0 10px;
        }

        div.box input {
            width: 250px;
        }
    </style>
</head>

<body>
    <%- include('../main/header') %>

    <main>
        <div class="widget">
            <p class="widgetTitle" style="color: white;">webPassword</p>
            <div class="box">
                <p>- adminPass: <%= adminPass %></p>
                <input type="text" id="adminPass">
            </div>

            <div class="box">
                <p>- testPass: <%= testPass %></p>
                <input type="text" id="testPass">
            </div>

            <div class="box">
                <p>- change</p>
                <button onclick="change()">changePassword</button>
            </div>
        </div>

        <div class="widget">
            <p class="widgetTitle">template</p>
            <div class="result">
                <div class="box">
                    <p>- This widget is template.</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../main/clock') %>
    </footer>

    <script>
        //node.js
        function sendedCode() {};

        function change() {
            //getDeta
            var adminpass = document.getElementById("adminPass").value;
            var testPass = document.getElementById("testPass").value;

            //sendDeta
            fetch('/changePass/' + window.prompt("changePass?"), {
                //settings
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    adminPass: adminpass,
                    testPass: testPass
                })
            })

            .then(response => response.text())
            .then(data => {
                //changed
                window.alert(data);
                window.location.href = "/admin/" + adminpass;
            })

            .catch((error) => {
                //error
                window.alert("Error: " + error);
            });
        };
    </script>
    <script src="../files/script.js"></script>
</body>
</html>