<style>
    header {
        top: 0;
        position: fixed;
        width: 100%;
        padding: 10px;
        background-color: #363636;
        z-index: 100;
    }

    div#headerTitle {
        display: none;
    }

    div#headerLink a {
        font-size: 25px;
        margin: 0 25px 0 0;
        color: white;
    }

    @media (max-width: 600px) {
        div.headerAnimationS {
            animation: slideRight 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
        }

        div#headerTitle {
            display: block;
        }

        div#headerLink a {
            margin: 0 0 5px 10px;
        }

        div#headerLink {
            border-bottom: 3px solid rgb(104, 104, 104);
            border-top: 3px solid rgb(104, 104, 104);
        }

        a#headerLetter {
            display: flex;
            justify-content: center;
            font-size: 25px;
            color: white;
            padding: 0 0 10px 0;
        }

        /*hamburger*/
        header div#headerTitle label {
            position: fixed;
            top: 15px;
            left: 15px;
            display: flex;
            height: 35px;
            width: 35px;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            background-color: #e4e4e4;
        }

        header div#headerTitle label span,header div#headerTitle label span:before,header div#headerTitle label span:after {
            content: '';
            display: block;
            height: 2px;
            width: 18px;
            background-color: #363636;
            position: absolute;
        }

        header div#headerTitle label span:before {
            bottom: 6px;
        }

        header div#headerTitle label span:after {
            top: 6px;
        }
    }
</style>

<header>
    <div id="headerTitle">
        <a id="headerLetter" href="/">ue0ba1ya1sh3i</a>

        <input style="display: none;" onclick="hamburger(hamburgerButton.checked);" type="checkbox" id="hamburgerButton">
        <label for="hamburgerButton"><span></span></label>
    </div>

    <div id="headerLink">
        <a href="/">- Home</a>
        <a href="/app">- App</a>
        <a href="/settings">- Settings</a>
        <a href="/blog">- Blog</a>
    </div>
</header>

<script>
    const hamburgerButton = document.getElementById("hamburgerButton");
    const hamburgerLink = document.getElementById("headerLink");
    const hamburgerLetter = document.getElementById("headerLetter");

    function hamburger(check) {
        if(check) {
            hamburgerLink.style.display = "grid";
            hamburgerLink.classList.add("headerAnimationS");
        } else {
            hamburgerLink.style.display = "none";
        };
    };

    if(window.innerWidth < 600) {
        hamburger(false);
    };

    window.addEventListener('resize', function() {
        if(window.innerWidth < 600) {
            hamburger(false);
        } else {
            hamburgerLink.style.display = "flex";
        }
    });
</script>