/*GoogleFonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    z-index: 0;

    /*normalFont*/
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    /*can't copy*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

/*scrollBar*/
::-webkit-scrollbar {
  background: #363636;
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(104, 104, 104);
  border-radius: 10px;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

body {
  background-color: rgb(194, 194, 194);
  display: block;
}

button {
    border: none;
    outline: none;
}

@media (max-width: 600px) {
  main {
      margin: 66px 0 0 0;
  }
}

@media (min-width: 601px) {
  main {
      margin: 56px 0 0 0;
  }
}

/*animation*/
@keyframes popup {
    /*animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;*/
    0% {
      transform: translateY(40px) scale(0.8);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scale(1.0);
    }
    80%, 100% {
      opacity: 1;
    }
}

@keyframes slideTop {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
}