main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.widget {
    animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: var(--normalColor);
    border: 0.5px solid var(--subColor);
    border-radius: 10px;
}

p.widgetTitle {
    color: white;
    font-size: 20px;
}

img.widgetImage {
    text-align: center;
    width: 290px;
    display: flex;
    margin: 10px;
    opacity: 0.7;
    border: 1px solid var(--subColor);
}

div.widgetImage {
    overflow: hidden; 
    height: 200px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

p.widgetSubTitle {
    color: white;
    font-size: 15px;
    padding: 0 0 5px 0;
    margin: 5px 0 10px 0;
    border-bottom: 2px solid var(--subColor);
}